@w0:0;
@w1:8.33333333%;
@w2:16.66666667%;
@w3:25%;
@w4:33.33333333%;
@w5:41.66666667%;
@w6:50%;
@w7:58.33333333%;
@w8:66.66666667%;
@w9:75%;
@w10:83.33333333%;
@w11:91.66666667%;
@w12:100%;
.grid{
	display:inline-block;
	min-height:1px
}
@media (max-width: 749px){
  .x0{
    width:@w0;
  }
  .x1{
    width:@w1;
  }
  .x2{
    width:@w2;
  }
  .x3{
    width:@w3;
  }
  .x4{
    width:@w4;
  }
  .x5{
    width:@w5;
  }
  .x6{
    width:@w6;
  }
  .x7{
    width:@w7;
  }
  .x8{
    width:@w8;
  }
  .x9{
    width:@w9;
  }
  .x10{
    width:@w10;
  }
  .x11{
    width:@w11;
  }
  .x12{
    width:@w12
  }
}
@media (min-width: 750px) and (max-width: 969px){
.s0{
width:@w0;
}
.s1{
width:@w1;
}
.s2{
width:@w2;
}
.s3{
width:@w3;
}
.s4{
width:@w4;
}
.s5{
width:@w5;
}
.s6{
width:@w6;
}
.s7{
width:@w7;
}
.s8{
width:@w8;
}
.s9{
width:@w9;
}
.s10{
width:@w10;
}
.s11{
width:@w11;
}
.s12{
width:@w12
}
}
@media (min-width: 970px) and (max-width:1169px){
.m0{
width:@w0;
}
.m1{
width:@w1;
}
.m2{
width:@w2;
}
.m3{
width:@w3;
}
.m4{
width:@w4;
}
.m5{
width:@w5;
}
.m6{
width:@w6;
}
.m7{
width:@w7;
}
.m8{
width:@w8;
}
.m9{
width:@w9;
}
.m10{
width:@w10;
}
.m11{
width:@w11;
}
.m12{
width:@w12
}
}
@media (min-width: 1170px){
.l0{
width:@w0;
}
.l1{
width:@w1;
}
.l2{
width:@w2;
}
.l3{
width:@w3;
}
.l4{
width:@w4;
}
.l5{
width:@w5;
}
.l6{
width:@w6;
}
.l7{
width:@w7;
}
.l8{
width:@w8;
}
.l9{
width:@w9;
}
.l10{
width:@w10;
}
.l11{
width:@w11;
}
.l12{
width:@w12
}
}
