.grid {
  display: inline-block;
  min-height: 1px;
}
@media (max-width: 749px) {
  .x0 {
    width: 0;
  }
  .x1 {
    width: 8.33333333%;
  }
  .x2 {
    width: 16.66666667%;
  }
  .x3 {
    width: 25%;
  }
  .x4 {
    width: 33.33333333%;
  }
  .x5 {
    width: 41.66666667%;
  }
  .x6 {
    width: 50%;
  }
  .x7 {
    width: 58.33333333%;
  }
  .x8 {
    width: 66.66666667%;
  }
  .x9 {
    width: 75%;
  }
  .x10 {
    width: 83.33333333%;
  }
  .x11 {
    width: 91.66666667%;
  }
  .x12 {
    width: 100%;
  }
}
@media (min-width: 750px) and (max-width: 969px) {
  .s0 {
    width: 0;
  }
  .s1 {
    width: 8.33333333%;
  }
  .s2 {
    width: 16.66666667%;
  }
  .s3 {
    width: 25%;
  }
  .s4 {
    width: 33.33333333%;
  }
  .s5 {
    width: 41.66666667%;
  }
  .s6 {
    width: 50%;
  }
  .s7 {
    width: 58.33333333%;
  }
  .s8 {
    width: 66.66666667%;
  }
  .s9 {
    width: 75%;
  }
  .s10 {
    width: 83.33333333%;
  }
  .s11 {
    width: 91.66666667%;
  }
  .s12 {
    width: 100%;
  }
}
@media (min-width: 970px) and (max-width: 1169px) {
  .m0 {
    width: 0;
  }
  .m1 {
    width: 8.33333333%;
  }
  .m2 {
    width: 16.66666667%;
  }
  .m3 {
    width: 25%;
  }
  .m4 {
    width: 33.33333333%;
  }
  .m5 {
    width: 41.66666667%;
  }
  .m6 {
    width: 50%;
  }
  .m7 {
    width: 58.33333333%;
  }
  .m8 {
    width: 66.66666667%;
  }
  .m9 {
    width: 75%;
  }
  .m10 {
    width: 83.33333333%;
  }
  .m11 {
    width: 91.66666667%;
  }
  .m12 {
    width: 100%;
  }
}
@media (min-width: 1170px) {
  .l0 {
    width: 0;
  }
  .l1 {
    width: 8.33333333%;
  }
  .l2 {
    width: 16.66666667%;
  }
  .l3 {
    width: 25%;
  }
  .l4 {
    width: 33.33333333%;
  }
  .l5 {
    width: 41.66666667%;
  }
  .l6 {
    width: 50%;
  }
  .l7 {
    width: 58.33333333%;
  }
  .l8 {
    width: 66.66666667%;
  }
  .l9 {
    width: 75%;
  }
  .l10 {
    width: 83.33333333%;
  }
  .l11 {
    width: 91.66666667%;
  }
  .l12 {
    width: 100%;
  }
}
